In [5]:
import pandas as pd

df = pd.read_csv(r'C:\Users\Madhukar\OneDrive\Pictures\BX-CSV-Dump\BX-Books.csv',error_bad_lines=False,encoding='latin-1',sep=';')
df.head()

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\Users\Madhukar\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3442: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [7]:
df.duplicated(subset='Book-Title').sum() # 29,225

29225

In [8]:
df = df.drop_duplicates(subset='Book-Title')

In [9]:
df.duplicated(subset='Book-Title').sum() # 0

0

In [10]:
sample_size = 15000
df = df.sample(n=sample_size, replace=False, random_state=490)

df = df.reset_index()
df = df.drop('index',axis=1)

In [11]:
df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0060972491,"Thank You, Jeeves",P.G. Wodehouse,1989,Perennial,http://images.amazon.com/images/P/0060972491.0...,http://images.amazon.com/images/P/0060972491.0...,http://images.amazon.com/images/P/0060972491.0...
1,015602781X,Pincher Martin: The Two Deaths of Christopher ...,William Golding,2002,Harvest Books,http://images.amazon.com/images/P/015602781X.0...,http://images.amazon.com/images/P/015602781X.0...,http://images.amazon.com/images/P/015602781X.0...
2,1561441627,The Nutcracker (Christmas Fun-to-Read Fairy Ta...,Roberta Collier-Morales,1992,Modern Publishing,http://images.amazon.com/images/P/1561441627.0...,http://images.amazon.com/images/P/1561441627.0...,http://images.amazon.com/images/P/1561441627.0...
3,1402708610,I Know a Rhino,Charles Fuge,2003,Sterling,http://images.amazon.com/images/P/1402708610.0...,http://images.amazon.com/images/P/1402708610.0...,http://images.amazon.com/images/P/1402708610.0...
4,0441586325,Norby and the Oldest Dragon,Janet Asimov,1993,Ace Books,http://images.amazon.com/images/P/0441586325.0...,http://images.amazon.com/images/P/0441586325.0...,http://images.amazon.com/images/P/0441586325.0...

In [12]:
def clean_text(author):
    result = str(author).lower()
    return(result.replace(' ',''))

In [13]:
df['Book-Author'] = df['Book-Author'].apply(clean_text)

In [14]:
df['Book-Title'] = df['Book-Title'].str.lower()
df['Publisher'] = df['Publisher'].str.lower()

In [15]:
# combine all strings:
df2 = df.drop(['ISBN','Image-URL-S','Image-URL-M','Image-URL-L','Year-Of-Publication'],axis=1)

df2['data'] = df2[df2.columns[1:]].apply(
    lambda x: ' '.join(x.dropna().astype(str)),
    axis=1
)

df2.head()

,Book-Title,Book-Author,Publisher,data
0,"thank you, jeeves",p.g.wodehouse,perennial,p.g.wodehouse perennial
1,pincher martin: the two deaths of christopher ...,williamgolding,harvest books,williamgolding harvest books
2,the nutcracker (christmas fun-to-read fairy ta...,robertacollier-morales,modern publishing,robertacollier-morales modern publishing
3,i know a rhino,charlesfuge,sterling,charlesfuge sterling
4,norby and the oldest dragon,janetasimov,ace books,janetasimov ace books

In [16]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
vectorized = vectorizer.fit_transform(df2['data'])

#### Building the Recommendation System

#### Now, we will use a distance measure called cosine similarity to find the resemblance between each bag-of-words. Cosine similarity is a metric that calculates the cosine of the angle between two or more vectors to determine if they are pointing in the same direction.

#### Cosine similarity ranges between 0 and 1. A value of 0 indicates that the two vectors are not similar at all, while 1 tells us that they are identical.

In [17]:
from sklearn.metrics.pairwise import cosine_similarity

similarities = cosine_similarity(vectorized)

In [18]:
print(similarities)

[[1. 0. 0. ... 0. 0. 0.]
 [0. 1. 0. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 1. 0. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 0. 1.]]

In [23]:
df = pd.DataFrame(similarities, columns=df['Book-Title'], index=df['Book-Title']).reset_index()

df.head(15)

Book-Title,Book-Title,"thank you, jeeves",pincher martin: the two deaths of christopher martin,the nutcracker (christmas fun-to-read fairy tales ser),i know a rhino,norby and the oldest dragon,his eminence and hizzoner,el oro de los sueã±os (leer en espaã±ol nivel 4),celestine insights,feng shui and money: a nine-week program for creating wealth using ancient principles and techniques,...,"the santa suit (harlequin american romance, no. 708)",where the gods reign: plants and peoples of the colombian amazon,the terrible troll-bird,virginia embrace (magnolia road),"take 5, volume 4 (under the knife, adam's gift, return to yesterday, everything but time, marriage diamond style)",taking the anxiety out of taking tests: a step-by-step guide,encyclopedia of women's health issues,fodor's 2002 new york city (fodor's new york city),"c. s. lewis: a biography,revised edition",the late night muse: a novel
0,"thank you, jeeves",1.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0
1,pincher martin: the two deaths of christopher ...,0.0,1.000000,0.000000,0.0,0.333333,0.288675,0.000000,0.288675,0.000000,...,0.0,0.000000,0.235702,0.288675,0.0,0.000000,0.000000,0.0,0.0,0.0
2,the nutcracker (christmas fun-to-read fairy ta...,0.0,0.000000,1.000000,0.0,0.000000,0.000000,0.223607,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0
3,i know a rhino,0.0,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0
4,norby and the oldest dragon,0.0,0.333333,0.000000,0.0,1.000000,0.288675,0.000000,0.288675,0.000000,...,0.0,0.000000,0.235702,0.288675,0.0,0.000000,0.000000,0.0,0.0,0.0
5,his eminence and hizzoner,0.0,0.288675,0.000000,0.0,0.288675,1.000000,0.000000,0.250000,0.000000,...,0.0,0.000000,0.204124,0.250000,0.0,0.000000,0.000000,0.0,0.0,0.0
6,el oro de los sueã±os (leer en espaã±ol nivel 4),0.0,0.000000,0.223607,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0
7,celestine insights,0.0,0.288675,0.000000,0.0,0.288675,0.250000,0.000000,1.000000,0.000000,...,0.0,0.000000,0.204124,0.250000,0.0,0.223607,0.000000,0.0,0.0,0.0
8,feng shui and money: a nine-week program for c...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.0,0.288675,0.000000,0.000000,0.0,0.000000,0.333333,0.0,0.0,0.0
9,neanderthal: a novel,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.288675,...,0.0,0.250000,0.000000,0.000000,0.0,0.000000,0.288675,0.0,0.0,0.0
10,hating alison ashley (puffin books),0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.258199,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0
11,the wisdom of dolphins,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0
12,steal this book: twenty-fifth anniversary facs...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0
13,wild with it poems: poems,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.235702,...,0.0,0.204124,0.000000,0.000000,0.0,0.182574,0.235702,0.0,0.0,0.0
14,gay men at mid-life: age before beauty (hawort...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.258199,...,0.0,0.223607,0.000000,0.000000,0.0,0.000000,0.258199,0.0,0.0,0.0

#### let’s use the dataframe above to display book recommendations. If a book is entered as input, the top 10 similar books must be returned.

In [22]:
input_book = 'norby and the oldest dragon'
recommendations = pd.DataFrame(df.nlargest(11,input_book)['Book-Title'])
recommendations = recommendations[recommendations['Book-Title']!=input_book]
recommendations
#print(recommendations)

                                             Book-Title
155                                     eating memories
421                                           timberjak
632   living dead in dallas (southern vampire myster...
750                                      trey of swords
864                                           timegates
881                                     dragon's domain
923                         the guardians (ace fantasy)
1541                               no doors, no windows
1879                     668: the neighbor of the beast
1979                                            sabazel